<h1>Welcome to<span class="glyphicon glyphicon-book" aria-hidden="true"></span>bookers!!</h1>

<p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,<br>

<p>you can share and exchange your opinions ,<br> inpressions , and emotions

about varioius books!</p>

<button type="button"><%= link_to "sign_up", new_user_registration_path, class:"sign_up" %></button>

<button type="button"><%= link_to "login", new_user_session_path, class:"sign_in" %></button>